 
services:
  dns:
    build: 
      context: ./dns
      dockerfile: Dockerfile
    container_name: dns
    ports:
      - "53:53/udp"

  proxy:
    build: 
      context: ./proxy
      dockerfile: Dockerfile
    container_name: proxy
    ports:
      - "80:80/tcp"
    networks:
      - asa-network

  servidor1:
    build: 
      context: ./server1
      dockerfile: Dockerfile
    container_name: server1
    networks:
      - asa-network

  servidor2:
    build: 
      context: ./server2
      dockerfile: Dockerfile
    container_name: server2
    networks:
      - asa-network

  email:
    build:
      context: ./email
      dockerfile: Dockerfile
    container_name: email
    networks:
      - asa-network

networks:
  asa-network:
    driver: bridge